.btn1 {
    background-color: aquamarine;
    color: green;
    border-radius: 3rem;
    width: 100%;
    padding: 1, 5rem;
  }
  
  
  
  .list-output{
    display: flex;
  }
  
  .td{
    border: 1px solid black;
    float: left;
    width: calc(33.333333% - 20px);
    margin: 0 10px 20px 10px;

    display: flex;
    flex-direction: column;

    justify-content: space-between;
    width: 400px; /*1*/
    margin: 0px auto; /*2*/
    background-color: white; /*3*/
    box-shadow: 0px 5px 20px #999; /*4*/
    max-width: 20rem;
    max-height: 30rem;
  }
  /*.card a { /*5*/
    /*color: #333; 
    text-decoration: none;
  }*/
 
  
  .card:hover .card-image img { /*6*/
    width: 160%;
    filter: grayscale(0);
  }

    list-output{
    width: 30%;}

    
    .card-img{
      max-width: 30%;
      display: flex;
      flex-direction: column;
      border: 1px grey solid;
      float: left;
     /* width: 150px;*/
      margin-right: 20px;
    }
    #saveB{
      height: 45px;
      width: 45px;
    }
    #bookmark{
      height: 15px;
      width: 15px;
    }
    .card-text{
      width: 90%;
      padding: 10px;
      align-self: end;
      
    }
    .myBooks{
      display: grid;
    }
    

  
  
  