.btn1{
     background-color: aquamarine;
     color: green;
     border-radius: 3rem;
     width:100%;
     padding: 1,5rem;
      

}
#searchbar{
    margin-left: 15%;
    padding:15px;
    border-radius: 10px;
  }

.champ_cache{
     display: none;
}